* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #2e559c;
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
}

/*Vue.js opgave 1*/
#vue_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: #fff;
    background-color: orange;
}

#input{
    margin-bottom: 25px;
    font-size: 20px;
}

#input input{
    border: none;
    padding: 5px;
}

#vue_1 h2{
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: center;
}

.drum {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 10px solid #333;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}

.drum:active {
    opacity: 0.5;
}

/*Vue.js opgave 2*/
#vue_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2{
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
}

.input{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 10px;
    font-size: 20px;
}

.input input{
    border: none;
    padding: 5px;
}

form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    border: 10px solid #333;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

form button:hover{
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

form button:active{
    opacity: 0.5;
}

#warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
    margin-left: 50px;
    padding: 25px 25px 20px 25px;
    border-radius: 25px;
    background-color: red;
}

#warning p{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}